<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1" metadata-complete="true">

    <display-name>Sonepar Ratings and Reviews</display-name>

    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

    <context-param>
        <param-name>context-root</param-name>
        <param-value>/</param-value>
    </context-param>

    <context-param>
        <param-name>resteasy.providers</param-name>
        <param-value>nl.sonepar.ratingreviews.rest.CORSFilter</param-value>
    </context-param>

    <context-param>
        <param-name>javax.ws.rs.Application</param-name>
        <param-value>nl.sonepar.ratingreviews.RatingsAndReviewsApplication</param-value>
    </context-param>

    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/data</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/data/*</url-pattern>
    </servlet-mapping>
</web-app>
